canvas {border: solid; display: block;}
.colors {list-style-type: none;}
.colors ul {display: inline; margin: 0; padding: 0;}
.color {width: 16px; height: 16px; display: inline-block; border-width: 1px; border-color: black; border: solid; }
.black {background-color: black;}
.white {background-color: white;}
.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.indigo {background-color: indigo;}
.violet {background-color: violet;}

